<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
  </head>
  <body>
    <div class="container"><br><br><br>
      <h1 class="text text-dark text-center">OCI Fundamentals Workshop</h1><br><br>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary float-left btn-sm" data-toggle="modal" data-target="#myModal">
        Upload a New File
      </button>

      <!-- Modal -->
    <form action="/upload" method = "POST" enctype = "multipart/form-data">
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModallLabel">New File Upload</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label class="form-label" for="customFile">Choose file to upload</label>
              <input type="file" class="form-control" id="myFile" name="myFile"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="myBtn">Upload</button>
            </div>
          </div>
        </div>
      </div>
    </form>



      <br></br>
      <table class="table-striped border-success">
        <thead class="thead-dark">
          <tr>
            <th data-field="Name" data-sortable="true"><span class="text-light">Name</span></th>
            <th data-field="Date" data-sortable="true"><span class="text-light">Date</span></th>
            <th data-field="Link" data-sortable="true"><span class="text-light">Link</span></th>
          </tr>
        </thead>
      </table><br><br>
      <div class="modal-footer">
        <h6>&copy; ORACLE IL</h6>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <script src="extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script> -->
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('table').bootstrapTable({
          data: mydata
        });
      });
      
      temp = '{{data | tojson}}';
      list = JSON.parse(temp);
      console.log(list)
      const mydata = list;
    </script>
    <!-- <script>
    // $("#submit").click(function () {
    //   var name = $("#name").val();
    //   var marks = $("#marks").val();
    //   var str = "You Have Entered " 
    //       + "Name: " + name 
    //       + " and Marks: " + marks;
    //   $("#modal_body").html(str);
    // });
      let file;
      $(document).ready(function(){
        $("#myBtn").click(function(){
          $("#myModal").modal();
          // console.log($("#myFile"))
          file = $("#myFile");
          console.log(file);

        });
      });
    </script> -->

  </body>
</html>
