<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />

<body><br /><br /><br />
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">'{{name}}' has been added successfully!</h4>
            </div>
            <div class="modal-body"><a class="btn btn-primary" href="/">Go Back</a></div>
            <div class="modal-footer">
                <h6>&copy; ORACLE IL</h6>
            </div>
        </div>
    </div>
</body>
</head>